<div class="row">
    <p class="bs-component">
        <a href="#/" class="btn btn-primary">Dashboard</a>
        <a href="#/projects/:{{projectId}}" class="btn btn-primary">Projects</a>
        <a ng-if="role" href=#/projects/add" class="btn btn-primary">Add new Project</a>
    </p>
</div>
<div class="container-fluid">
    <p></p>
    <div class="col-md-6">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in issues">
            <tr>
                <td>{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td>{{issue.Project.Name}}</td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in issues">
            <tr>
                <td>{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td>{{issue.Project.Name}}</td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>