<div class="margin-bottom-100"></div>
<div ng-if="isAuthenticated" class="row">
    <div class="col-md-4 col-md-offset-4 border">
        <form name="changePasswordForm">
            <label for="oldPassword">Old password:</label>
            <input type="password" id="oldPassword" required ng-model="changePasswordForm.oldPassword" class="form-control"/>
            <br />
            <label for="reg-password">New password:</label>
            <input type="password" id="reg-password" required minlength="6" maxlength="100" ng-model="changePasswordForm.newPassword" class="form-control"/>
            <br />
            <label for="reg-conf-password">Confirm new password:</label>
            <input type="password" id="reg-conf-password" required minlength="6" maxlength="100" ng-model="changePasswordForm.confirmPassword" class="form-control"/>
            <br />
            <button class="btn btn-primary" ng-disabled="changePasswordForm.$invalid || changePasswordForm.newPassword != changePasswordForm.confirmPassword" ng-click="changePassword(changePasswordForm)">Change Password</button>
        </form>
    </div>
</div>