<div class="row">

</div>
<div class="row">
    <div class="col-md-3">
        <form  name="editIssue">
            <div class="form-group">
                <label for="projectTitle">Title</label>
                <input ng-disabled="disabled" id="projectTitle" ng-model="editedIssue.Title" class="form-control" name="editIssue.title" type="text" required/>
            </div>
            <div class="form-group">
                <label for="projectDescription">Description</label>
                <input ng-disabled="disabled"  id="projectDescription" ng-model="editedIssue.Description" class="form-control" name="editIssue.description" type="text"  required/>
            </div>
            <div class="form-group">
                <label for="assignId">Assign to</label>
                <input  ng-if="visible" ng-disabled="disabled" ng-model="editedIssue.Assignee.Username" class="form-control" type="text"/>
                <select ng-if="editable" ng-disabled="disabled" class="form-control" id="assignId" ng-model="editedIssue.Assignee">
                    <option ng-repeat="user in users" value="{{user}}">{{user.Username}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="prioritySelect">Prioity</label>
                <input ng-if="visible"  ng-disabled="disabled" ng-model="editedIssue.Priority.Name" class="form-control" type="text"/>
                <select ng-if="editable" ng-disabled="disabled" class="form-control" id="prioritySelect" ng-model="editedIssue.priority" required >
                    <option ng-repeat="priority in priorities" value="{{priority}}">{{priority.Name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="duoDate">Duo Date</label>
                <input ng-disabled="disabled"  id="duoDate" ng-model="editedIssue.DueDate" class="form-control" name="editIssue.duoDate" type="datetime"  required/>
            </div>
            <div class="form-group">
                <p>Athor: {{editedIssue.Author.Username}}</p>
                <p>Project: {{editedIssue.Project.Name}}</p>
                <p>Labels: {{labels}}</p>
                <div ng-if="editButton">
                    <p>
                        Status: {{editedIssue.Status.Name}}
                    <div ng-repeat="status in statuses" ng-click="changeStatus(status)" value="{{status}}" id="" class="btn btn-primary">{{status.Name}}</div>
                    </p>
                </div>
            </div>
            <div href="" ng-if="role" ng-click="edit()" class="btn btn-primary">Edit / Lock Issues</div>
            <button ng-if="editable" type="button" class="btn btn-primary" ng-disabled="editIssue.$invalid" ng-class="editIssue.$invalid ? 'disabled-button' :''" ng-click="updateIssue(editedIssue, editedIssue.Assignee, editedIssue.priority)" >Update Issue</button>
        </form>
    </div>
    <div class="col-md-10">
        <form  name="addComment">
            <textarea class="form-control" rows="3" id="textArea" ng-model="addComment.comment" data-gramm="true"
                      data-txt_gramm_id="10fea99b-9750-bcc4-64f9-e878c9e59ed4"
                      data-gramm_id="10fea99b-9750-bcc4-64f9-e878c9e59ed4"
                      spellcheck="false" data-gramm_editor="true"
                      style="z-index: auto; position: relative; line-height: 21px;
                      font-size: 15px; transition: none; background: transparent !important;">
            </textarea>

            <button ng-if="editable" type="button" class="btn btn-primary" ng-disabled="addComment.$invalid" ng-class="addComment.$invalid ? 'disabled-button' :''" ng-click="addIssueComment(addComment)" >Add new Comment</button>
        </form>

        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="coment in comments">
                <h4 class="list-group-item-heading">{{coment.CreatedOn}} / {{coment.Author.Username}}</h4>
                <p class="list-group-item-text">{{coment.Text}}</p>
            </a>
        </div>
    </div>
</div>