<div class="row">

</div>
<div class="row">
    <div class="col-sm-6">
        <h2>Projects</h2>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Name</th>
                <th>Project Key</th>
                <th>Lead</th>
            </tr>
            </thead>
            <tbody ng-repeat="project in projects | filter: lead">
                <tr id="{{project.Id}}" ng-click="editProject(project)">
                    <td>{{project.Name}}</td>
                    <td>{{project.ProjectKey}}</td>
                    <td>{{project.Lead.Username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Issues</h2>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in issues.Issues">
                <tr ng-click="editIssue(issue)">
                    <td>{{issue.Title}}</td>
                    <td>{{issue.Description}}</td>
                    <td>{{issue.Project.Name}}</td>
                    <td>{{issue.DueDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <ul class="pagination">
            <li ng-repeat="page in pages" ng-class="{'active':page.number==setPage}" ><a href="" ng-click="toPage(page)">{{page.number}}</a></li>
        </ul>
    </div>
    <div class="col-sm-6">
    </div>
</div>