<div class="row">
</div>
</div class="row">
    <div class="col-md-14">
        <h2>Projects</h2>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Lead</th>
            </tr>
            </thead>
            <tbody ng-repeat="project in projects">
            <tr ng-click="editIssue(project)">
                <td>{{project.Name}}</td>
                <td>{{project.Description}}</td>
                <td>{{project.Lead.Username}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <ul class="pagination">
        <li ng-repeat="page in pages" ng-class="{'active':page.number==setPage}" ><a href="" ng-click="toPage(page)">{{page.number}}</a></li>
    </ul>
</div>