<div class="row">

</div>
<div class="row">
    <div class="col-sm-3">
        <h2>Project: {{Name}}</h2>
        <h5>Project Key: {{Key}}</h5>
        <h5>Description: {{Description}}</h5>
        <h5>Lead: {{Lead}}</h5>
        <h5>Labels: {{Labels}}</h5>
        <h5>Priorities: {{Priorities}}</h5>

        <div class="row">
            <p class="bs-component">
                <div ng-if="edit" href="" ng-click="formEnable()" class="btn btn-primary">Edit</div>
                <a ng-if="isAdmin" href="#/projects/{{projectId}}/add-issue" class="btn btn-primary">Add Issue</a>
            </p>
        </div>
        <form ng-if="form" name="editProject">
            <div class="form-group">
                <label for="projectName">Title</label>
                <input id="projectName" ng-model="inputName" class="form-control" type="text"  required/>
            </div>
            <div class="form-group">
                <label for="projectDescription">Description</label>
                <input id="projectDescription" ng-model="inputDescription" class="form-control" type="text"  required/>
            </div>
            <div class="form-group">
                <label for="leadId">Lead</label>
                <input id="leadId" ng-model="inputLead" class="form-control" type="text"  required/>
            </div>
            <br />
            <button type="button" class="btn btn-primary" ng-disabled="editProject.$invalid" ng-class="editProject.$invalid ? 'disabled-button' :''" ng-click="update(inputName,inputDescription, inputLead)" >Update Project</button>
        </form>
    </div>
    <div class="col-md-9">
        <h2 class="nav navbar-nav navbar-left">Project Issues</h2>
        <ul class="nav navbar-nav navbar-right">
            <!-- ngIf: menuUser --><li ng-if="menuUser" class="dropdown ng-scope">
            <a href="" class="dropdown-toggle ng-binding" data-toggle="dropdown" role="button" aria-expanded="false">Find more issues by Filter<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <form name="filters" class="form-group">
                        <div class="form-group">
                            <label for="titleFilter">Title</label>
                            <input id="titleFilter" ng-model="filters.title" class="form-control " type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="projectIdFilter">Project Id</label>
                            <input id="projectIdFilter" ng-model="filters.projectId" class="form-control " type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="dayFilter">Duo Date - Day expression</label>
                            <input id="dayFilter" ng-model="filters.day" class="form-control" type="text" placeholder="Example <2 >2 >=2 <=2 ==2"/>
                        </div>
                        <div class="form-group">
                            <label for="monthFilter">Duo Date - Month expression</label>
                            <input id="monthFilter" ng-model="filters.month" class="form-control" type="text" placeholder="Example <5 >5 >=5 <=5 ==5"/>
                        </div>
                        <div class="form-group">
                            <label for="projectNameFilter">Project Name</label>
                            <input id="projectNameFilter" ng-model="filters.projectName" class="form-control" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="pleadUsernameFilter">Lead Username</label>
                            <input id="pleadUsernameFilter" ng-model="filters.leadUsername" class="form-control" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="searchingTypeFilter">Select type of searching</label>
                            <select ng-model="filters.searchingType" id="searchingTypeFilter" class="form-control" required>
                                <option value="">Select type of searching</option>
                                <option value="aprox">approximately match</option>
                                <option value="exact">exact match</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" ng-disabled="filters.$invalid" ng-click="findIssues(filters)" >Find Issues</button>
                    </form>
                </li>
            </ul>
        </li><!-- end ngIf: menuUser -->
        </ul>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in issues.Issues">
            <tr ng-click="editIssue(issue)">
                <td>{{issue.Title}}</td>
                <td>{{issue.Description | limitTo:80}}</td>
                <td>{{issue.Project.Name}}</td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">

    </div>
</div>